@{
    ViewBag.Title = "Home Page";
}

<main>
    <style>
        .left-width-image {
            width: 50%;
            height: auto;
        }

        .right-width-image {
            width: 50%;
            height: auto;

            left: 50%;
        }

        .custom-footer {
            color: #6c757d;
            padding: 20px;
            text-align: center;
            width: 100%;
            margin-top: 20px;
        }

        .right-text {   
            left: 50%;
        }
        .container1 {
            display: flex;
            margin-bottom: 25px;
        }
        body {
            color: #ABB5BE;
            background: #6c757d;
        }
        .container-text{
            padding-left:50px;
            padding-right:50px;
        }
        .container-head{
            margin-bottom:35px;
        }
    </style>
    <div class="container1 bg-dark" >
        <img class="left-width-image" src="/images/1.jpg" alt="img" />
        <div class="my-3 py-3 container-text">
            <h2 class="container-head">Добро пожаловать в наш магазин компьютерных комплектующих!</h2>
            <h4>Всё для создания идеального компьютера</h4>
            <p>В нашем магазине вы найдете широкий ассортимент высококачественных компьютерных </p>
            <p>комплектующих, которые помогут вам собрать мощный и надежный ПК для любых задач — </p>
            <p>будь то работа, игры или творчество.</p>
        </div>
    </div>
    <div class="container1 bg-dark">
        <img class="left-width-image" src="/images/2.jpg" alt="img1" />
        <div class="my-3 py-3 container-text">
            <h4 class="container-head">Почему выбирают нас?</h4>
            <ul>
                <li>Широкий ассортимент: от процессоров и видеокарт до оперативной памяти и блоков питания — у нас есть всё, что нужно для сборки вашего компьютера.</li>
                <li>Низкие цены: мы предлагаем конкурентоспособные цены на все товары, чтобы вы могли собрать мощный компьютер без лишних затрат.</li>
                <li>Гарантия качества: вся наша продукция сертифицирована и проходит строгий контроль качества, что обеспечивает долговечность и надежность.</li>
                <li>Профессиональная поддержка: наши эксперты всегда готовы помочь вам с выбором комплектующих и ответить на все вопросы.</li>
            </ul>
        </div>
    </div>

</main>
